@charset "utf-8";


body {
    font: 12px  /18px "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
    *
    font-family: "Lucida Grande", "ＭＳ Ｐゴシック", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: transparent;
    color: #555;
    -webkit-font-smoothing: antialiased;
}
/*
header h1 {
    font-size: 3em;
    line-height: 1em;
    font-weight: bold;
    padding: 10px 0;
}
header p {
    text-align: right;
    padding: 0 10px;
}
*/
#main {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: -1px;
}
#main h1 {
    font-size: 28px;
    line-height: 1.15;
    font-weight: bold;
}
#main h2 {
    font-size: 22px;
    line-height: 1.3;
    font-weight: bold;
}
#main h3 {
    font-size: 18px;
}
#main h4 {
    font-size: 16px;
}
#main h5{
    font-size: 15px;
}
#article{
    color: #555;
    font-size: 14px;
    font-family:inherit;
    line-height:2em;
}
#article p {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
}
#article p a {
    color: #006BFF;
}
#main p.intro {
    font-size: 1.15em;
    line-height: 1.4;
}


