@charset "utf-8";

#manga-view-window {
    position: fixed;
    top: 0;
    left: 280px;
    bottom: 0;
    width: 744px;
}
#manga-stream {
    height: 100%;
    overflow:hidden;
    box-sizing: border-box;
}
.manga-page {
    float: left;
    height: 100%;
    padding: 49px;
     
    background: white;
}
.manga-image-box {
    display: block;
}
.manga-image-box img {
    border:1px solid #ccc;
}
